---
layout: base.njk
title: Krilles Pizza
---

<div class="contact">
    <div class="contact-hours">
        <div class="contact-hours-title">
            <img class="svg" src="/assets/svg/Clock.svg">
            <p class="nunito contact-weight">Öppettider</p>
        </div>
        <ul class="contact-hours-list">
            <li class="nunito">Mån - Fre</li>
            <li class="contact-hours-units nunito">11:00 - 20:00</li>
            <li class="nunito">Lör - Sön</li>
            <li class="contact-hours-units nunito">11:00 - 22:00</li>
        </ul>
    </div>
    <div class="contact-number contact-weight">
        <img class="svg" src="/assets/svg/Phone.svg">
        <p class="nunito">090-5267 85 95</p>
    </div>
    <div class="contact-mail contact-weight">
        <img class="svg" src="/assets/svg/Mail.svg">
        <p class="nunito">krillespizza@gmail.com</p>
    </div>
</div> 

<div class="contact-location">
    <div class="contact-location-title">
        <hr width="30%">
        <h2>Plats</h2>
        <hr width="30%">
    </div>
    <div class="contact-location-exact">
        <img class="svg" src="/assets/svg/Pin.svg">
        <p class="nunito contact-weight">Umeå, Storgatan 43</p>
    </div>
    <iframe class="contact-location-map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d439.97425404415327!2d20.25631642929135!3d63.826102990523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x467c5b0cc0c0220d%3A0x74400fc1e3feb723!2sStorgatan%2043%2C%20903%2026%20Ume%C3%A5!5e0!3m2!1ssv!2sse!4v1634718334121!5m2!1ssv!2sse" allowfullscreen="true" loading="lazy"></iframe>
</div>
