---
title: krillespizza
layout: base.njk
---
<div class="home">
    <p class="home-description merriweather">
        {{ meta.beskrivning }}
    </p>
    <a href="/order">
        {% include "partials/order-button.njk" %}
    </a>

    <div class="contact">
        <div class="contact-number contact-weight">
            <img class="svg" src="/assets/svg/Phone.svg">
            <p class="nunito">090-5267 85 95</p>
        </div>
        <div class="contact-hours">
            <div class="contact-hours-title">
                <img class="svg" src="/assets/svg/Clock.svg">
                <p class="nunito contact-weight">Öppettider</p>
            </div>
            <ul class="contact-hours-list">
                <li class="nunito">Mån - Fre</li>
                <li class="contact-hours-units nunito">11:00 - 20:00</li>
                <li class="nunito">Lör - Sön</li>
                <li class="contact-hours-units nunito">11:00 - 22:00</li>
            </ul>
        </div>
        <div class="contact-location-exact">
            <img class="svg" src="/assets/svg/Pin.svg">
            <p class="nunito contact-weight">Umeå, Storgatan 43</p>
        </div>
    </div>
</div>
