---
layout: base.njk
title: Krilles Pizza
---

<div class="kontakt">
  <div class="tid">
      <div class="title">
        <img class="svg" src="/assets/svg/Clock.svg">
          <h3>Öppettider</h3>
      </div>
        <p class="semi-title">Mån - Fre
            <p>11:00 - 20:00</p>
        </p>
        <p class="semi-title">Lör - Sön
            <p>11:00 - 22:00</p>
        </p>
  </div>
  <div class="number">
        <div class="title">
        <img class="svg" src="/assets/svg/Phone.svg">
            <h3>090-5267 85 95</h3>
        </div>
  </div>
  <div class="mail">
      <div class="title">
        <img class="svg" src="/assets/svg/Mail.svg">
          <h3>krillespizza@gmail.com</h3>
      </div>
  </div>
</div> 

<div class="location">
    <div class="title">
        <hr width="30%">
        <h2>Plats</h2>
        <hr width="30%">
    </div>
    <div class="exact-location">
        <img class="svg" src="/assets/svg/Pin.svg">
        <p>Umeå, Storgatan 43</p>
    </div>
    <!-- google maps with location here :) -->
</div>
