<footer class="footer">
  <h2 class="nunito">&copy; copyright by Krilles Pizza</h2>
  <a href="https://www.freepik.com/vectors/background">
    Background vector created by vectorpocket - www.freepik.com
  </a>
</footer>
