<footer class="container">
  <h2>&copy; copyright by Krilles Pizza</h2>
  <a href="https://www.freepik.com/vectors/background">
    Background vector created by vectorpocket - www.freepik.com
  </a>
</footer>
