<header class="header">
  <div class="banner">
    <span class="dot"></span>
    <h1 class="rufina">{{ meta.titel }}</h1>
    <span class="dot"></span>
  </div>
  {% include "components/navbar.njk" %}
</header>
