<div class="menus">
  {% for item in food.items %}
  <div class="menu">
    <h2 class="menu-title rufina">{{ item.name }}</h2>
    {% if item.desc %}
    <p class="merriweather">{{item.desc}}</p>
    {% endif %}
    
    {% for food in item.items %}
      <div class="menu-item nunito">
        <div class="menu-upper">
          <p class="menu-weight">{{ food.name }}</p>
          <p class="right menu-weight">{{ food.price }}kr</p>
      </div>
      <p class="menu-description flex nunito">{{ food.description }}</p>
    </div>
    {% endfor %}
      </div>
    {% endfor %}
</div>
