<div class="menus">
  <div class="menu">
    <h2>Pizza</h2>
    {% if pizza.items %} {% for item in pizza.items %}
    <div class="upper">
      <h3>{{ item.name }}</h3>
      <img class="svg" src="/assets/svg/AddShoppingCart.svg" />
    </div>
    <p>{{ item.description }}</p>
    {% endfor %} {% endif %}
  </div>
  <br />
  <div class="menu">
    <h2>Grill</h2>
    {% if grill.items %} {% for item in grill.items %}
    <div class="upper">
      <h3>{{ item.name }}</h3>
      <img class="svg" src="/assets/svg/AddShoppingCart.svg" />
    </div>
    <p>{{ item.description }}</p>
    {% endfor %} {% endif %}
  </div>
  <br />
  <div class="menu">
    <h2>Vegetariskt</h2>
    {% if vego.items %} {% for item in vego.items %}
    <div class="upper">
      <h3>{{ item.name }}</h3>
      <img class="svg" src="/assets/svg/AddShoppingCart.svg" />
    </div>
    <p>{{ item.description }}</p>
    {% endfor %} {% endif %}
  </div>
</div>
