.quantity {
    display: flex;
    border-radius: 3px;

    & > * {
        border: 1px solid #DDDDDD;
        padding: 0 0.5rem 0 0.5rem;
    }
    .plus , .min {
        background-color: #DDDDDD;
    }
    .plus:hover:hover , .min:hover {
        background-color: white;
    }
}

.cart {
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    &-svg {
        margin: 0 auto 1rem auto;
    }
    &-items {
        width: 90%;
    }
}

@media only screen and (min-width: 900px) {
    .cart {
        width: 30%;
    }
}

