.contact {
  text-align: left;

  p {
    padding-left: 1rem;
  }

  &-weight {
    font-weight: 600;
  }
  &-hours {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    &-title {
      display: flex;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 4rem;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
    }

    &-units {
      padding-left: 0.5rem;
    }
  }

  &-number {
    display: flex;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-mail {
    display: flex;
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  &-location {
    
    hr {
      height: 1px;
    }

    &-title {
      display: flex;
      font-size: 1.3rem;
      text-align: center;
      align-items: center;
    }

    &-exact {
      display: flex;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 1rem;

      p {
        padding-left: 0.5rem;
        font-weight: 600;
        font-size: 1.2rem;
      }
    }

    &-map {
      width: 100%;
      border: 1px solid black;
      z-index: 1;
    }
  }
}

