.menus {
}

.menu {
  text-align: center;
  &-weight {
    font-weight: 400;
    font-size: 1.2rem;
  }
  &-title {
    margin: 3rem;
    font-size: 2.5rem;
  }
  &-upper {
    display: flex;
  }
  &-description {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
  }
  &-item {
    margin: 2rem 0 2rem 0;
  }
  &-cart {
    margin-left: 1rem;
  }
}

.right {
  margin: 0 0 0 auto;
}

.flex {
  display: flex;
}
