@import url("https://fonts.googleapis.com/css2?family=Rufina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.roboto {
  font-family: "Roboto";
}

.nunito {
  font-family: "Nunito";
}

.lato {
  font-family: "Lato";
}

.rufina {
  font-family: "Rufina";
}

.merriweather {
  font-family: "Merriweather";
}
