body {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/BackgroundPizza.png);
  background-size: 120vw;
  background-repeat: repeat-y space;
  background-position: center 30vh;
}
