<div class="cart">
  <img class="svg cart-svg" src="/assets/svg/ShoppingCart.svg" />
  <div class="cart-items">
    <div class="cart-item">
      <div class="item"></div>
      {% include "partials/quantity.njk" %}
    </div>
  </div>
</div>
